.menu{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94vh;
    margin-right: 2rem;
}

.logo{
    text-align: center;
    padding: 20px;
    color: #dde6ed;
    font-weight: bolder;
    font-size: x-large;
    align-items: center;
    display: flex;
    gap: 20px;
}

.logo-icon{
    font-size: 1.4rem;
}

.menu--list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu--list .item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    font-size: large;
    color: #dde6ed;
}

.menu--list .item:hover{
    background: #c10b0b;
    color: #dde6ed;
}