@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgb(243, 8, 44);
  --secondary: rgb(34, 34, 32);
}

/* .header {
  background: var(--primary);
} */